[submodule "131MicropostsDB"]
	path = 131MicropostsDB
	url = https://github.com/db585/131MicropostsDB.git
[submodule "movie-lists"]
	path = movie-lists
	url = https://github.com/code-magi/movie-lists.git
